@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="fotorama" data-width="100%" data-ratio="700/467" data-max-width="100%">
        <img src="~/Images/Achats.jpg">
        <img src="~/Images/Chicoutimi.jpg">
        <img src="~/Images/ecocartier.jpg">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nouvelles</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suivez-Nous</h2>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FLesEventaires&amp;width&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=true&amp;appId=155567074550166" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:395px;" allowtransparency="true"></iframe>
    </div>
</div>