@using Microsoft.AspNet.Identity
@using IdentitySample.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-top-links navbar-right">
        @if (User.IsInRole("Administrateur"))
        {
            <li class="alert-warning ">
                <a href="/">Page Publique</a>
            </li>
            <li class="alert-info">
                <a href="/Admin/Index">Administration</a>
            </li>
        }
        <li class="alert-success">
            @{
        CoeurContainer db = new CoeurContainer();
        var id = User.Identity.GetUserId();
        var nomUtilisateur = (from u in db.AspNetUsers
                              where u.Id == id
                              select u.Prenom).Single();
            }
            <a href="/Manage/Index">Allo <b> @nomUtilisateur </b> !</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sortir</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
      <li>@Html.ActionLink("Se Connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
