@{
    ViewBag.Title = "Calendrier d'évenements";
}

<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />

@section scripts{
    <script type="text/x-handlebars-template" id="CMT">
        <h2>Cette mois</h2>
        {{#each}}
        <div style="clear:both;">
            <img style="float: left;" class="img-circle col-md-5" src='../tinyfilemanager.net/resources/thumbs/{{photo}}' />
            &nbsp; <p> +  <b>{{title}}</b>{{description}}</p>
            <a class="btn btn-default" href="{{url}}">Plus...</a>
        </div>
        <br />
        {{/each}}
    </script>
    <script src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/calendar")
    <script src="~/Scripts/lang-all.js"></script>
    <script src="~/Scripts/gcal.js"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month'
                },
                defaultView: 'month',
                lang: "fr-ca",
                buttonIcons: false, // show the prev/next text
                weekNumbers: true,
                editable: false,
                eventSources: ['/Evenements/getEvements',
                                'https://www.google.com/calendar/feeds/fr.canadian%23holiday%40group.v.calendar.google.com/public/basic'
                ],
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-9">
        <div id='calendar'></div>
    </div>
    <div class="col-md-3" id="ceteMois">
        <img class="image-preview" id="attent" src="~/Images/attent.gif" />
    </div>
</div>

