@{
    ViewBag.Title = "Editeur du groupe d'achat";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div style="height:800px;"></div>

<div>Définir l'utilité de la page Liste d'achat</div>
<div>Créer officiellement une vue en cas de besoin</div>