@model EpicerieModel.Models.TaxesViewModel

@{
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<br />

@using (Html.BeginForm("Suppliers", "AchatAdmin", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    @id = "Formulaire"
}))
{

    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="input-group">

            <script type="text/x-handlebars-template" id="TaxeTemplate">
                <strong> {{Taxe}} :</strong>
                <div class="form-control value" id="{{Taxe}}"></div> 
            </script>

        </div>
    </div>
}

<script type="text/x-handlebars-template" id="CategoriesTemplate">
    <option selected="selected" id=0 value="0">Categories</option>
    {{#each}}
    <option id={{id}} value={{id}}>{{nom}}</option>
    {{/each}}
</script>

<div class="row">
    <div class="alert alert-warning" role="alert" id="boutons" style="height:65px;">
        <div class="col-md-3" style="height:auto;">
            <select class="form-control cats" id="CategoriesList"></select>
        </div>
    </div>
</div>