
<h2>@ViewBag.Title.</h2>

<div class="col-md-12">
    <div class="container-fluid">@Html.Raw(ViewBag.contenu)</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Vous aimerrais devenir membre?</h3>
    </div>
    <div class="panel-body">
        <p> ecris nous un message ou @Html.ActionLink("contactez-Nous", "Contact", "Home")</p>
        @Html.Partial("_SendMailtoAdmin", new ViewDataDictionary(ViewData) { { "adresse", "GroupedAchats" } })
    </div>
</div>



