@{
    ViewBag.Title = "Page d'accueil";
}

<div class="row">
    <div class="container">
        <div class="col-md-8">
            <div class="fotorama" data-width="100%" data-ratio="700/467" data-max-width="100%"
                 data-nav="thumbs" data-keyboard="true">
                @Html.Action("PhotoEvement", "Home")
            </div>
        </div>

        <div class="col-md-4">
            <h2>Nouvelles</h2>
            <div id="NContainer"></div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Suivez-Nous</h2>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FLesEventaires&amp;width&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=true&amp;appId=155567074550166" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:395px;" allowtransparency="true"></iframe>
    </div>
    <div class="col-md-8">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts {
    <script type="text/x-handlebars-template" id="NewsTemplate">
        {{#each}}
        <p>
            - <b>{{titre}}</b>
            {{text}}
            <a class="btn btn-default" href="/Home/nouvelles&Titre={{titre}}">Plus...</a>
        </p>
        <br />
        {{/each}}
    </script>
    <script type="text/javascript">
        TemplateNews = Handlebars.compile($("#NewsTemplate").html());
        $(function () {
            $.getJSON("getNews", null, function (data) {
                console.log(data);
                var result = TemplateNews(data);
                $("#NContainer").html(result);
            });
        });
    </script>
}