@{
    ViewBag.Title = "Confirmation du courriel";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Merci pour confirmer votre courriel. SVP @Html.ActionLink("Click ici pour entrer", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
