
@{
    ViewBag.Title = "Gestion des membres";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<style>
    .membre123:hover {
        cursor: pointer;
        color: red;
    }
</style>



<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-3" id="ListeMembres">
        <h4>liste des membres</h4>
        <ul class="list-group" id="MembresList"></ul>
        <div class="btn btn-success" onclick="$.nouvelle()" ><i class="fa fa-plus" ></i> Nouvelle membre</div>
    </div>
    <div class="col-md-5 alert-info" id="ficheMemnbre">
        <div class="col-md-5" >
            <strong>Fiche de membre</strong>
        </div>
        <div class="btn btn-success col-md-offset-3" onclick="$.liste()">
            <i class="fa fa-arrow-circle-left"></i> Liste
        </div>
        @Html.Partial("../Account/_Register")
    </div>

</div>

@section Scripts {
    <script id="ListeMembresTemplate" type="text/x-handlebars-template">
        {{#each}}
        <li id="{{Courriel}}" class="membre123">{{Prenom}} {{Nom}} / {{Courriel}}</li>
        {{/each}}
    </script>
    <script type="text/javascript">
        templatemembres = null;

        $(function () {
            $("#ficheMemnbre").hide();
            templatemembres = Handlebars.compile($("#ListeMembresTemplate").html());
            $.getJSON("GetMembres", null, function (data) {
                var result = templatemembres(data);
                $("#MembresList").html(result);
                $(".membre123").click(function () {
                    var Courriel = this.id;
                    $("#ficheMemnbre").show();
                    $("#ListeMembres").hide();
                    $.getJSON("GetInfo", { email: Courriel }, function (data) {
                        $.each(data, function (i, result) {
                            $("#Nom").val(result.Nom);
                            $("#Prenom").val(result.Prenom);
                            $("#Courriel").val(result.Courriel);
                        });
                    });

                });

            });

            if (isPostBack()) {
                alert("Check your data!");
            }

            $.liste = function () {
                $.vide();
                $("#ListeMembres").show();
                $("#ficheMemnbre").hide();
            }

            $.nouvelle = function () {
                $.vide();
                $("#ficheMemnbre").show();
                $("#ListeMembres").hide();
            }

            $.vide = function () {
                $("#Nom").val("");
                $("#Prenom").val("");
                $("#Courriel").val("");
            }

        });
    </script>
}

