
@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>Pages</h2>


lister les pages existentes, dernier part de la liste bouton Nouvelle Page, click sur le nom de la page aparaitre le editeur avec les boutons enregistrer cancel

