@model IdentitySample.Models.test1234
@using System.Globalization

@section Scripts
{

    @*Template des Catégories*@
    <script type="text/x-handlebars-template" id="OrdersTemplate">
        <select id="OrderOutput" name="Orders" class="form-control orders">
            <option selected="selected" id=0 value="0">Choisissez une facture</option>
            {{#each}}
            <option id={{OrderID}} value="{{OrderID}}">{{OrderID}}</option>
            {{/each}}
        </select>
    </script>
    @*Template des Détails*@
    <script type="text/x-handlebars-template" id="DetailsTemplate">
        <div class="row">
            <h4 class="col-xs-4">Produit</h4>
            <h4 class="col-xs-3">Format</h4>
            <h4 class="col-xs-2">Quantite</h4>
            <h4 class="col-xs-1">Prix</h4>
            <h4 class="col-xs-1">SousTotal</h4>
        </div>
        <div class="row" id=Detail{{ProductID}}>
            <div class="col-xs-4">
                <h5 id="Name{{ProductID}}">{{Produit}}</h5>
            </div>
            <div class="col-xs-3">
                <h5 id="Format{{ProductID}}">{{Format}}</h5>
            </div>
            {{#each}}
            <div class="col-xs-2">
                <h5 id="Format{{ProductID}}">{{Quantite}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 id="Format{{ProductID}}">{{Prix}}</h5>
            </div>
            <div class="col-xs-1">
                <input class="sTotal prix col-xs-1" id="STotal{{ProductID}}" type="text" value="{{SousTotal}}" name="{{SousTotal}}.qty" readonly="readonly" />
            </div>
            {{/each}}
        </div>
    </script>

<script type="text/x-handlebars-template" id="MembresTemplate">

    <div class="row main-area span12">
        <div class="col-md-2"><img src="~/Images/logo.png" class="img-responsive" /></div>
        <h4 class="col-xs-2">No. Facture</h4>
        <h4 class="col-xs-3">Membre</h4>
        <h4 class="col-xs-5">Date</h4>
    </div>
    <div class="row" id=Detail{{ProductID}}>
        <div class="col-xs-1">
            <h5 id="Name{{OrderID}}">{{OrderID}}</h5>
        </div>
        <div class="col-xs-3">
            <h5 id="Format{{OrderID}}">{{Membre}}</h5>
        </div>
        @*<div class="col-xs-7">
            @foreach (var p in ViewBag.GetMembre)
            {
                <h6>

                    Date:           @p.Fin.ToString("dd/MMMM/yyyy", CultureInfo.CreateSpecificCulture("fr-CA"))
                </h6>
                <h6>
                    Récupération le @p.Recup.ToString("dd/MMMM/yyyy", CultureInfo.CreateSpecificCulture("fr-CA"))
                </h6>
            }
        </div>*@
    </div>
</script>

    <script type="text/javascript">
        templateOrders = null;
        templateDetails = null;
        templateMembres = null;
       

        $(function () {
            templateOrders = Handlebars.compile($("#OrdersTemplate").html());
            templateDetails = Handlebars.compile($("#DetailsTemplate").html());
            
                $.getJSON("/Epicerie/GetOrder", null, function (data) {
                var result = templateOrders(data);
                $("#OrdersOutput").html(result);

                $(".orders").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    console.log("H2" + " " + id);
                    AfficherMembre(id);
                    if (id != 0) {
                        AfficherMembre(id);
                        $.getJSON("/Epicerie/GetDetails", { OID: id }, function (data) {
                            var result = templateDetails(data);
                            $("#DetailssOutput").html(result);
                        });//GetDetails
                    }
                });
            });//GetOrders
        });

        function AfficherMembre(id) {
            templateMembres = Handlebars.compile($("#MembresTemplate").html());

            $.getJSON("/Epicerie/GetMembre", { OID: id }, function (data) {
                var Somme = 0;
                var result = templateMembres(data);
                $("#MembresOutput").html(result);
                $(".sTotal").each(function(){
                    Somme += $(this).val();
                });
                console.log(Somme)
                $("#SommeOutput").html(Somme);
            });
        };
    </script>
}

@*<div id="Facture" class="container">*@
    <div id="OrdersOutput"  class="col-md-12"></div>
    <div id="MembresOutput" class="col-md-12"></div>
    <div id="DetailsOutput" class="col-md-12"></div>
    @*<div id="SommeOutput"   class="col-md-12"></div>*@
    <div>@Html.ActionLink("Retour", "Index")</div>
@*</div>*@

