@model IdentitySample.Models.test1234
@using System.Globalization

@section Scripts
{

    @*Template des Catégories*@
    <script type="text/x-handlebars-template" id="OrdersTemplate">
        <select id="OrderOutput" name="Orders" class="form-control">
            <option selected="selected" id=0 value="0">Choisissez une facture</option>
            {{#each}}
            <option id={{OrderId}}>{{OrderID}}</option>
            {{/each}}
        </select>
    </script>
    @*Template des Détails*@
    <script type="text/x-handlebars-template" id="DetailsTemplate">
        <div class="row">
            <h4 class="col-xs-4">Produit</h4>
            <h4 class="col-xs-3">Format</h4>
            <h4 class="col-xs-2">Quantite</h4>
            <h4 class="col-xs-1">Prix</h4>
            <h4 class="col-xs-1">SousTotal</h4>
        </div>
        <div class="row" id=Detail{{ProductID}}>
            <div class="col-xs-4">
                <h5 id="Name{{ProductID}}">{{Produit}}</h5>
            </div>
            <div class="col-xs-3">
                <h5 id="Format{{ProductID}}">{{Format}}</h5>
            </div>
            {{#each}}
            <div class="col-xs-2">
                <h5 id="Format{{ProductID}}">{{Quantite}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 id="Format{{ProductID}}">{{Prix}}</h5>
            </div>
            <div class="col-xs-1">
                <h5 id="Format{{ProductID}}">{{SousTotal}}</h5>
            </div>
            {{/each}}
        </div>
    </script>

    <script type="text/javascript">
        templateOrders = null;
        //templateDetails = null;

        $(function () {
            templateOrders = Handlebars.compile($("#OrdersTemplate").html());
            //templateDetails = Handlebars.compile($("#DetailsTemplate").html());

            $.getJSON("/Epicerie/GetOrder", null, function (data) {
                var result = templateOrders(data);
                $("#OrdersOutput").html(result);

                $("#OrdersOutput").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    console.log(id);
                    $.getJSON("/Epicerie/GetDetails", { cat: id }, function (data) {
                        var result = templateDetails(data);
                        $("#DetailssOutput").html(result);
                    });//GetDetails        
                });
            });//GetOrders
        });
    </script>
}


<div id="OrdersOutput" class="col-md-12"></div>

<div id="DetailsOutput" class="col-md-6"></div>


