@model IdentitySample.Models.test1234



@section Scripts {
    @*Template des Catégories*@
    <script type="text/x-handlebars-template" id="CategoriesTemplate">
        <h3>Période de commande: du {{Debut}} au {{Fin}}</h3>
        <select id="CategoryOutput" name="Categories" class="form-control">
            <option selected="selected" id=0 value="0">Choisissez une categorie</option>
            {{#each}}
            <option id={{CategoryID}}>{{CategoryName}}</option>
            {{/each}}
        </select>
    </script>

        @*Template des produits*@
    <script type="text/x-handlebars-template" id="ProductsTemplate">
        <div class="row">
            <h4 class="col-xs-4">Produits</h4>
            <h4 class="col-xs-3">Format</h4>
            <h4 class="col-xs-2">Prix $</h4>
            <h4 class="col-xs-2">Qty</h4>
            <h4 class="col-xs-1">Ajouter</h4>
        </div>
        {{#each}}
        <div class="row" id=Product{{ProductID}}>
            <div class="col-xs-4">
                <h5 id="Name{{ProductID}}">{{ProductName}}</h5>
            </div>
            <div class="col-xs-3">
                <h5 id="Format{{ProductID}}">{{Format}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 id="Price{{ProductID}}">{{Price}}</h5>
            </div>
            <div class="col-xs-2">
                <input class=" col-xs-12" id="Quantity{{ProductID}}" type="text" value="0" />
            </div>
            <div class="col-xs-1">
                <input id="AddProduct{{ProductID}}" type="submit" value="OK" class="btn btn-success" onclick="AjouterPanier('{{ProductID}}')" />
            </div>
        </div>
        {{/each}}
    </script>
    @*Template du panier*@
    <script type="text/x-handlebars-template" id="CartTemplate">

        <div id="prod{{id}}" class="row produit">
            <input type="hidden" name="{{name}}.PID" value="{{id}}" />
            <div id="pname{{id}}" class="col-xs-3">{{nom}}</div>
            <div id="pformat{{id}}" class="col-xs-2">{{format}} </div>
            <div id="pprix{{id}}" class="col-xs-1">{{prix}}</div>
            <input class=" col-xs-1" id="CartQuantity{{id}}" type="text" value="{{qty}}" name="{{name}}.qty" readonly="readonly" />
            <div id="psous{{id}}" class="col-xs-2">{{Soustotal}}</div>
            <div class="col-xs-1"><input id="Cartupdate{{id}}" type="button" value="Modifier" onclick="ModifierProduit('{{id}}')" class="btn btn-warning" /></div>
            <div class="col-xs-1"><input id="Cartdelete{{id}}" type="button" value="Enlever" onclick="SupprimerProduit('{{id}}')" class="btn btn-danger" /></div>
        </div>
    </script>
    @*Template des anciennes factures*@
    <script type="text/x-handlebars-template" id="OldBillTemplate">
    Factures
        <select id="OdlBillOutput" name="Categories" class="form-control">
            <option selected="selected" id=0 value="0">Choisissez une date de facturation</option>
            {{#each}}
            <option id={{OrderID}}>{{Debut}}</option>
            {{/each}}
        </select>
</script>

    @*Template d'entête de facture*@
    <script type="text/x-handlebars-template" id="EnteteTemplate">
        <div class="row">
            <h4 class="col-xs-4">No. Facture</h4>
            <h4 class="col-xs-3">Membre</h4>
            <h4 class="col-xs-2">Semaine d'activité</h4>
            <h4 class="col-xs-2">Date de récupération</h4>
        </div>
        {{#each}}
        <div class="row" id=Product{{OrderID}}>
            <div class="col-xs-4">
                <h5 id="Name{{OrderID}}">{{OrderID}}</h5>
            </div>
            <div class="col-xs-3">
                <h5 id="Format{{OrderID}}">{{Usager}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 id="Price{{OrderID}}">{{Debut}} à {{Fin}}</h5>
            </div>
            <div class="col-xs-2">
                <h5 id="Price{{OrderID}}">{{DateRecup}}</h5>
            </div>
        </div>
        {{/each}}
    </script>


    @*Template du détail de la facture*@
    <script type="text/x-handlebars-template" id="DetailTemplate">

        <div id="prod{{id}}" class="row produit">
            <input type="hidden" name="{{name}}.PID" value="{{id}}" />
            <div id="fname{{id}}" class="col-xs-3">{{Nom}}</div>
            <div id="fformat{{id}}" class="col-xs-2">{{Format}} </div>
            <div id="fprix{{id}}" class="col-xs-1">{{Prix}}</div>
            <div id="fqty{{id}}" class="col-xs-1">{{Quantite}}</div>
            <div id="fsous{{id}}" class="col-xs-2">{{SousTotal}}</div>
        </div>
    </script>
    <script type="text/javascript">

        templateCategories = null;
        templateProducts = null;
        templateCart = null;
        var prix = 0;
        var action = "";
        var total = 0;
        var ancienprix = 0;
        var fTotal = 0;
        //variable tres important determine l'indice dans la liste objets
        var i = 0;

        $(function () {
            templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
            templateProducts = Handlebars.compile($("#ProductsTemplate").html());
            templateCart = Handlebars.compile($("#CartTemplate").html());
            $.getJSON("/Epicerie/ValiderWeek", null, function (data) {
                if(data.val == true)
                {
                $.getJSON("/Epicerie/GetWeek", null, function (data) {
                    var result = templateCategories(data);
                    $("#CategoriesOutput").html(result);

                    $.getJSON("/Epicerie/GetCategories", null, function (data) {
                        var result = templateCategories(data);
                        $("#CategoriesOutput").html(result);

                        //Afficher les catégories
                        $("#CategoryOutput").change(function () {
                            var id = $(this).children(":selected").attr("id");
                            if (id != 0) {
                                $.getJSON("/Epicerie/GetProduits", { cat: id }, function (data) {
                                    var result = templateProducts(data);
                                    $("#week123").val(data[0].WeeK);
                                    $("#ProductsOutput").html(result);
                                });//GetProducts
                            }
                        })//GetCategories
                    });
                })
            }});
        });

        function AjouterPanier(id) {
            action = "AJOUT";
            if ($("#Quantity" + id).val() > 0) {
                var p = $("#Price" + id).html();
                var q = $("#Quantity" + id).val();
                var sous = p * q;
                var produit = {
                    id: id,
                    nom: $("#Name" + id).html(),
                    format: $("#Format" + id).html(),
                    prix: p,
                    qty: q,
                    Soustotal: sous.toFixed(2),
                    //le name va a creer la relation avec le objet dans le model comme obj[0], obj[1], etc...
                    name: "obj[" + i + "]"
                };

                //apres creer le objet produit se besoin monter l'indice, manque incluir dans les fonction modif et effacer
                i += 1;
                var result = templateCart(produit);

                $("#CartOutput").append(result);
                Caltotal(id, p, q);

                $("#AddProduct" + id).attr("disabled", "disabled");
                $("#AddProduct" + id).attr("class", "btn btn-default");
                $("#AddProduct" + id).val("Ajouté");
                $("#Quantity" + id).attr("disabled", "disabled");
                $("#Panier").attr("hidden", false);
            }
            else {
                alert("SVP veuillez indiquer une quantité");
            }
        }


        function SupprimerProduit(id) {
            action = "ENLEVER";
            Caltotal(id);
            $("#prod" + id).remove();
            $("#AddProduct" + id).attr("disabled", false);
            $("#AddProduct" + id).attr("class", "btn btn-success");
            $("#AddProduct" + id).val("OK");
            $("#Quantity" + id).attr("disabled", false);
            $("#Quantity" + id).val(0);
            if (total < 1) {
                $("#Panier").attr("hidden", true);
            }
        }

        function ModifierProduit(id) {
            if ($("#Cartupdate" + id).val() == "Modifier") {
                $("#Cartupdate" + id).val("OK");
                $("#Cartupdate" + id).attr("class", "btn btn-success");
                $("#CartQuantity" + id).attr("readonly", false);

            } else {
                if ($("#Cartupdate" + id).val() == "OK") {
                    $("#Cartupdate" + id).val("Modifier");
                    $("#Cartupdate" + id).attr("class", "btn btn-warning");
                    $("#CartQuantity" + id).attr("readonly", true);
                    action = "MODIF";
                    Caltotal(id);
                }
            }
        }

        $(function FactureCourrante() {
            templateEntete = Handlebars.compile($("#EnteteTemplate").html());
            templateDetail = Handlebars.compile($("#DetailTemplate").html());

            //$("#Facture").attr(hidden = false);
            $.getJSON("/Epicerie/Afficher_Entete_Facture", null, function (data) {
                //console.log(data.legth);
                var result = templateEntete(data);
                $("#BillOutput").html(result);
                $.getJSON("/Epicerie/Afficher_Facture", null, function (data) {
                    //console.log(data.legth);
                    var result = templateDetail(data);
                    $("#BillOutput").html(result.toFixed(2));
                    CalculTotalFacture(id)
                });
            });
        });

        $(function FactureAncienne() {
            templateEntete = Handlebars.compile($("#EnteteTemplate").html());
            templateDetail = Handlebars.compile($("#DetailTemplate").html());
            templateBill = Handlebars.compile($("#OldBillTemplate").html());
            //$("#Facture").attr(hidden = false);
            $.getJSON("/Epicerie/Afficher_Entete_Facture", null, function (data) {
                //console.log(data.legth);
                var result = templateBill(data);
                $("#OdlBillOutput").html(result);
				
		        //Afficher la facture
                $("#OldBillOutput").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    if (id != 0) {
                        
                        $("#week123").val(data[0].WeeK);
                        $("#BillOutput").html(result);
                    }//Afficher_Facture
                })//Afficher_Entete_Facture
            });
        });

        //Fonction permettant d'imprimer le DIV de la facture affichée à l'écran
        $(function PRINT() {
            $.getJSON("/Epicerie/ValiderWeek", null, function (data) {
                if(data.val == true)
                {
                    $("#hrefPrint").click(function () {
                        // Print the DIV.
                        $("#Facture").print();
                        return (false);
                    });
                }
            });
        });

        function Caltotal(id, p, q) {
            if (action == "AJOUT") {
                prix = p * q;
                total += prix;
                $("#totalOutput").html(total.toFixed(2));
            }
            if (action == "ENLEVER") {
                var montant = 0;
                montant = $('#psous' + id).html();
                total -= parseFloat(montant);
                $("#totalOutput").html(total.toFixed(2));
            }
            if (action == "MODIF") {
                var ancien = 0;
                var nprix = 0;
                var qt = 0;

                ancien = $('#psous' + id).html();
                ancienprix = parseFloat(ancien);
                qt = $('#CartQuantity' + id).val();
                nprix = $("#pprix" + id).html();
                nprix = parseFloat(nprix);
                prix = qt * nprix;
                $('#psous' + id).html(prix.toFixed(2));
                total += prix;
                total -= ancienprix;
                $("#totalOutput").html(total.toFixed(2));
            }
        };

        //function CalculTotalFacture(id) {
            
            
        //    fTotal = f + fsous{{id}};prod{{id}}
        //}
    </script>

}

<div class="row">
    <div id="Message"></div>
</div>

<div class="row">
    <div id="CategoriesOutput" class="col-md-4"></div>

    <div id="ProductsOutput" class="col-md-6"></div>
</div>

<div>@ViewBag.Steeve</div>
<hr />

<div class="container" id="Panier" hidden="hidden">
    <div class="row">
        @using (Html.BeginForm("Index", "Epicerie", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Formulaire" }))
        {
        <!-- objet cachet qui garde le valeur de la semaine courrante metre le valeur avec le id-->
            @Html.HiddenFor(m => m.week, new { @Value = "test", @id = "week123" })
            <div id="CartOutput" class="col-md-12">
                <div class="row">
                    <h4 class="col-xs-3">Produits</h4>
                    <h4 class="col-xs-2">Format</h4>
                    <h4 class="col-xs-1">Prix $</h4>
                    <h4 class="col-xs-1">Qty</h4>
                    <h4 class="col-xs-2">Sous-Total</h4>
                    <h4 class="col-xs-1">Modifier</h4>
                    <h4 class="col-xs-1">Enlever</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-xs-7"></div>
                <div class="col-xs-2">
                    <h3><b>total $</b></h3>
                    <div class="col-xs-3" id="totalOutput">
                        <h3><b>0</b></h3>
                    </div>
                </div><div class="col-xs-9"></div>
                <!--Boutton pour envoyer le panier au serveur-->
                <input type="submit" class="col-xs-2 btn btn-primary" value="Envoyer" />
            </div>
        }
    </div>
</div>
<div class="container" id="Bill">
    <input id="NewBill" name="NewBill" type="button" class="col-xs-2 btn btn-primary" value="Nouvelle Facture" onclick="FactureCourrante">
    <input id="OldBill" name="OldBill" type="button" class="col-xs-2 btn btn-primary" value="Anciennes Factures" onclick="FactureAncienne">
    <div class="row"><div id="OldBillOutput" class="col-md-4"></div></div>
</div>
<div class="container" hidden ="hidden" id="Facture" >
    <div><img class="col-md-2 col-xs-6 img-responsive" src="../Images/logo.png" alt="Le Moulin d'à côté'" /></div>
    <div id="BillOutput" class="col-md-12">
        <div class="row">
            <h4 class="col-xs-3">Produits</h4>
            <h4 class="col-xs-2">Format</h4>
            <h4 class="col-xs-1">Prix $</h4>
            <h4 class="col-xs-1">Qty</h4>
            <h4 class="col-xs-2">Sous-Total</h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-xs-7"></div>
        <div class="col-xs-2">
            <h3><b>total $</b></h3>
            <div class="col-xs-3" id="FtotalOutput">
                <h3><b>0</b></h3>
            </div>
        </div>
    </div>
    @*Bouton qui permet d'imprimer le DIV de la facture*@
    <input id="hrefPrint" type="submit" class="col-xs-2 btn btn-primary" value="Imprimer" onclick="PRINT" />
</div>
<div style="height:600px; float:left;"></div>





