@{
    ViewBag.Title = "Home Page";
}
<h2>Je suis dans le groupe d'achats</h2>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js">
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
 
<script type="text/x-handlebars-template">
    {{#each}}
        <h3>{{CategoryName}}</h3>
    {{/each}}
</script>

<div>
    <input id="GetProductButton" type="button" value="Catégorie" />
    <div id="ProductsOutput"></div>
</div>
<script type="text/x-handlebars-template">
    {{#each}}
        <h3>{{ProductName}}</h3>
    {{/each}}
</script>
<script type="text/javascript">

    $(function () {
        var membreId = 0;
        var membreName = "";
    });

    $(function (AddQty) {
        var qty = ($("#Quantity").text) += 1;
    });

    $(function (AddQty) {
        var qty = ($("#Quantity").text) -= 1;
    });

    $(function (GetCategories) {
        templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
        templateProducts = Handlebars.compile($("#ProductsTemplate").html());

        var result = templateCategories(data)

        $("#GetCategoriesButton").click(function () {
            
            $.getJSON("Epicerie/GetCategories", null, function () {
                console.log("hello world 2");
                console.log(data.d.legth);

                $("#CategoriesOutput").html(result);

                $(function () {
                    $("#ProductsOutput").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "/Epicerie/GetProducts",
                                type: "POST",
                                dataType: "json",
                                data: { cat: request.term },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return { label: item.ProductName, id: item.ProductID }

                                        $("#GetProducts").click(function () {
                                            $.getJSON("Epicerie/Creer_Le_Panier", null, function () {
                                                
                                            });
                                        });
                                    }));
                                }
                            });
                        }
                    });
                });
            });
        });
    });
 </script>
<div>
    <input type="text" id="Membre" />
</div>
<div>
    
</div>
<div>
    <div>
        <input type-text id="ProductsOutput" />
        <input id="Add" type="button" value="+" OnClick="AddQty"  />
        <input id="Remove" type="button" value="-" OnClick="RemoveQty"  />
        <input type-text id="Quantity" text="0" />
    </div>
    <div>
        <input id="GetCategoriesButton" type="button" value="Catégories" OnClick="GetCategories" />
        <input type-text id="CategoriesOutput" />
    </div>
    <div>
        <input type-text id="PanierOutput" />
        <input id="Add" type="button" value="+" OnClick="AddQty" />
        <input id="Remove" type="button" value="-" OnClick="RemoveQty" />
        <input id="Delete" type="button" value="-" OnClick="Delete" />
        <input type-text id="Quantity" text="0" />
    </div>
</div>