@{
    ViewBag.Title = "Home Page";
}
<h2>Je suis dans le groupe d'achats</h2>




@section Scripts {
<script type="text/x-handlebars-template" id="CategoriesTemplate" >
        Catégories<select id="CategoryOutput" name="Categories" class="form-control">
            {{#each}}
                <option id={{CategoryID}}>{{CategoryName}}</option>
            {{/each}}
        </select>
</script>

<script type="text/x-handlebars-template" id="ProductsTemplate" >
    <div>
        <div style="width:100px; float:left">
        <h4>Produits</h4>
            {{#each}}
                <h6 class="product" id={{ProductID}} >{{ProductName}}</h6>
            {{/each}}
        </div>
        <div style="width:100px; float:left">
        <h4>Prix</h4>
            {{#each}}
                <h6 class="price" id={{ProductID}} >{{Price}}</h6>
            {{/each}}
        </div>
    </div>        
</script>

<script type="text/x-handlebars-template" id="CartTemplate" >
        <h4>Panier</h4>
            {{#each}}
                <h6 id={{ProductID}}>{{ProductName}}, TVQ: {{TVQ}}, TPS: {{TPS}}, Prix: {{Price}}</h6>
            {{/each}}
</script>

<script type="text/javascript">

    templateCategories = null;
    templateProducts = null;



    //Valide le droit de l'usager avec ses nom et GUID
    $(function () {
        var membreId = 0;
        var membreName = "";


    //Incrémente la quantité du produit par 1 jusqu'à 100 max
    $(function (AddQty) {
        if (($("#AddQty").text) > 0 && ($("#AddQty").text) < 101) {
            var qty = ($("#Quantity").text) += 1;
        }
    });

    //Décrémente la quantité du produit de 1 jusqu'à 1 min
    $(function (RemoveQty) {
        if (($("#RemoveQty").text) > 1) {
            var qty = ($("#Quantity").text) -= 1;
        }
    });

        templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
        templateProducts = Handlebars.compile($("#ProductsTemplate").html());
        templateCart = Handlebars.compile($("#CartTemplate").html());
        console.log("Hello 1");

        $.getJSON("/Epicerie/GetCategories", null, function (data) {//console.log(data.legth);
            var result = templateCategories(data);
            $("#CategoriesOutput").html(result);
            console.log("hello 2");

            //Afficher les catégories
            $("#CategoryOutput").change(function () {
                var id = $(this).children(":selected").attr("id");
                console.log(id);
                $.getJSON("/Epicerie/GetProduits", { cat: id }, function (data) {
                    console.log(data.length + "produits dans la cat " + id);
                    var result = templateProducts(data);
                    $("#ProductsOutput").html(result);
                    console.log("Hello 4");
                    $(".product").click(function () {
                        var id = this.id;
                        console.log(this.id);
                        console.log("Hello 5");
                        $.getJSON("/Epicerie/GetProduits", { prod: id }, function (data) {
                        });
                    })//GetCategories                  
                });
            })//getJASON                               
    });

});
</script>
}
<table>
    <tr>
        <div id="Membre">
            Bienvenue <input id="Membre" type="text" />!</input>
        </div>
    </tr>
    <tr>
        <div id="Message"></div>
    </tr>
    <tr>
        <td><div id="CategoriesOutput" style="width:480px; float:left;"></div></td>
 
        <td><div id="ProductsOutput" style="width:480px; float:left; margin-left:20%;"></div></td>
    </tr>
    <tr>
        <td><div id="CartOutput" style="width:480px; float:left; margin-left:20%;"></div></td>
    </tr>   
@*<div>
   
</div>*@

<div style="height:200px; float:left;"></div>

</table>