@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
<script type="text/x-handlebars-template" id="CategoriesTemplate" >
        Catégories<select id="CategoryOutput" name="Categories" class="form-control">
            {{#each}}
                <option id={{CategoryID}}>{{CategoryName}}</option>
            {{/each}}
        </select>
</script>

<script type="text/x-handlebars-template" id="ProductsTemplate" >
    <div>
        <div style="width:100px; height:18px; float:left">
            <h4>Produits</h4>
            {{#each}}
                <h6 style="height:18px;" class="product" id={{ProductID}} >{{ProductName}}</h6>
            {{/each}}
        </div>
        <div style="width:35px; float:left">
            <h4>Prix</h4>
            {{#each}}
                <h5 style="height:18px;" class="price" id={{ProductID}} >{{Price}}$</h5>
            {{/each}}
        </div>
        <div style="width:150px; float:left">
            <h4>Quantité</h4>
            {{#each}}
                <input class="quantity" id={{ProductID}} type="text" text="1" /></h6>
            {{/each}}
        </div>
        <div style="width:30px; float:left">
            <h4>+</h4>
            {{#each}}
                <input class="addition" id={{ProductID}} type="submit" value="+" /></h6>
            {{/each}}
        </div>
        <div style="width:30px; float:left">
            <h4>-</h4>
            {{#each}}
                <input class="soustraction" id={{ProductID}} type="submit" value="-" /></h6>
            {{/each}}
        </div>
        <div style="width:50px; float:left">
            <h4>OK</h4>
            {{#each}}
                <input class="addcart" id={{ProductID}} type="submit" value="OK" /></h6>
            {{/each}}
        </div>
    </div>        
</script>

<script type="text/x-handlebars-template" id="CartTemplate" >
        <div><h1>Panier</h1>
        <div style="width:100px; float:left">
        <h4>Produits</h4>
            {{#each}}
                <h6 class="cartproduct" id={{ProductID}} >{{ProductName}}</h6>
            {{/each}}
        </div>
        <div style="width:100px; float:left">
        <h4>Prix</h4>
            {{#each}}
                <h6 class="cartprice" id={{ProductID}} >{{Price}}$</h6>
            {{/each}}
        </div>
        <div style="width:100px; float:left">
            <h4>Retirer</h4>
            {{#each}}
                <h6 class="cartdelete" id={{ProductID}} ><input type="submit" value="Retirer"</h6>
            {{/each}}
        </div>
        <div style="width:100px; float:left">
            <h4>Modifier</h4>
            {{#each}}
                <h6 class="cartupdate" id={{ProductID}} ><input type="submit" value="Modifier"</h6>
            {{/each}}
        </div>
    </div>  
</script>

<script type="text/javascript">

    templateCategories = null;
    templateProducts = null;
    templateCart = null;

    //Valide le droit de l'usager avec ses nom et GUID
    $(function () {
        var membreId = 0;
        var membreName = "";

        templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
        templateProducts = Handlebars.compile($("#ProductsTemplate").html());
        templateCart = Handlebars.compile($("#CartTemplate").html());
        console.log("Hello 1");

        $.getJSON("/Epicerie/GetCategories", null, function (data) {//console.log(data.legth);
            var result = templateCategories(data);
            $("#CategoriesOutput").html(result);
            console.log("hello 2");

            //Afficher les catégories
            $("#CategoryOutput").change(function () {
                var id = $(this).children(":selected").attr("id");
                console.log(id);
                $.getJSON("/Epicerie/GetProduits", { cat: id }, function (data) {
                    $(".quantity").val(data.qty)
                    console.log(data.length + "produits dans la cat " + id);
                    var result = templateProducts(data);
                    $("#ProductsOutput").html(result);
                    console.log("Hello 4");
                    $(".addcart").click(function () {
                        var id = this.id;
                        console.log(this.id);
                        console.log("Hello 5");
                        $.getJSON("/Epicerie/Remplir_Le_Panier", { prod: id }, function (data) {
                            var result = templateCart(data);
                            $("#CartOutput").html(result);
                            console.log("Hello 6");
                        }) //Remplir Panier
                    })//addcart click               
                });//GetProducts
            })//GetCategories                               
    });

});
</script>
}
<div class="container">
    <div class="row">
        <div id="Message"></div>
    </div>
    <div class="row">
        <td><div id="CategoriesOutput" class="col-md-4">Cat/gories</div></td>
 
        <td><div id="ProductsOutput" class="col-md-5"></div></td>
    </div>
    <hr />
    <div class="row">
        <td><div id="CartOutput" class="col-md-5" ></div></td>
    </div>   


<div style="height:200px; float:left;"></div>

</div>




    <script>
        $(function () {
            $("#btnSupr").click(function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 200,
                    modal: true,
                    buttons: {
                        "Effacer": function () {
                            var x = $("#new123").val();
                            console.log(x);
                            window.open("/Admin/delEvenement?eID=" + x, "_self");
                            $(this).dialog("close");
                        },
                        Anuler: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $('#DateStart').datetimepicker({
                lang: "fr",
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#DateEnd').val() ? $('#DateEnd').val() : false
                    })
                },
                timepicker: false
            });
            $('#DateEnd').datetimepicker({
                lang: "fr",
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#DateStart').val() ? $('#DateStart').val() : false
                    })
                },
                timepicker: false
            });

            $('.datetimepicker2').datetimepicker({
                datepicker: false,
                format: 'H:i'
            });

            Templateitems = Handlebars.compile($("#itemsTemplate").html());
            $.getJSON("getEvenements", null, function (data) {
                var result = Templateitems(data);
                $("#ItemsList").html(result);
                $(".items").change(function () {
                    var id = $(this).children(":selected").attr("id");
                    if (id != 0) {
                        $("#btnmodif").show();
                        $("#btnSupr").show();
                        $("#Formulaire").show();
                        tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
                        $("#new123").val(id);
                        $.getJSON("getEDetails", { IdEvenement: id }, function (data) {
                            $("#photoPrincipal").val(data.image);
                            $("#publier").prop('checked', data.publier);
                            tinymce.editors[0].setContent(data.page);
                            $("#titre").val(data.titre);
                            $("#Lieu").val(data.lieu);
                            $("#Adresse").val(data.adresse);
                            var date = new Date(parseInt(data.dateStart.substr(6)))
                            var m = date.getMonth() + 1;
                            var mm = (m < 10) ? "0" + m : m;
                            var dd = (date.getDate() < 10) ? "0" + date.getDate() : date.getDate();
                            $('#DateStart').val(date.getFullYear() + "/" + mm + "/" + dd);
                            date = new Date(parseInt(data.dateEnd.substr(6)))
                            m = date.getMonth() + 1;
                            mm = (m < 10) ? "0" + m : m;
                            dd = (date.getDate() < 10) ? "0" + date.getDate() : date.getDate();
                            $('#DateEnd').val(date.getFullYear() + "/" + mm + "/" + dd);
                            var Endmin = (data.hourEnd.Minutes < 10) ? "0" + data.hourEnd.Minutes : data.hourEnd.Minutes;
                            $('#HourEnd').val(data.hourEnd.Hours + ":" + Endmin);
                            var startmin = (data.hourStart.Minutes < 10) ? "0" + data.hourStart.Minutes : data.hourStart.Minutes;
                            $('#HourStart').val(data.hourStart.Hours + ":" + startmin);
                            $("#publier").change();
                        });
                    }
                    else $("#btnAnuler").click();
                });
            });
        });
    </script>