@{
    ViewBag.Title = "Home Page";
}

<style>
    .qty    {   width:58%; height:10%;  }
</style>
@section Scripts {
<script type="text/x-handlebars-template" id="CategoriesTemplate" >
        Catégories<select id="CategoryOutput" name="Categories" class="form-control">
            {{#each}}
                <option id={{CategoryID}}>{{CategoryName}}</option>
            {{/each}}
        </select>
</script>

<script type="text/x-handlebars-template" id="ProductsTemplate" >
    <div>
        <div class="row" id=Product{{ProductID}}>
            <div class="col-md-2">
                <h4>Produits</h4>
                {{#each}}
                <div><h5 id="Name{{ProductID}}" style="margin-top:10%;" >{{ProductName}}</h5></div>
                {{/each}}
            </div>
            <div class="col-md-3">
                <h4>Format</h4>
                {{#each}}
                <div><h5 id="Format{{ProductID}}">{{Format}}</h5></div>
                {{/each}}
            </div>
            <div class="col-md-2">
                <h4>Prix $</h4>
                {{#each}}
                <div><h5 id="Price{{ProductID}}">{{Price}}</h5></div>
                {{/each}}
            </div>
            <div class="col-md-2">
                <h4>Qty</h4>
                {{#each}}
                <div><input class="qty" id="Quantity{{ProductID}}" type="text" value="0" /></div>
                {{/each}}
            </div>
            <div class="col-md-3">
                <h4>Ajouter</h4>
                {{#each}}
                <div><input id="AddProduct{{ProductID}}" type="submit" value="OK" onclick="AjouterPanier('{{ProductID}}')" /></div>
                {{/each}}
            </div> 
        </div>        
</script>

<script type="text/x-handlebars-template" id="CartTemplate">
    <div class="row">
        <div class="col-md-6" id="CartProduct{{id}}">{{nom}} {{format}} {{qty}} {{prix}}$</div>
        <div class="col-md-2"><input id="Cartupdate{{ProductID}}" type="submit" value="Modifier" onclick="ModifierProduit('{{ProductID}}')" /></div>
        <div class="col-md-2"><input id="Cartdelete{{ProductID}}" type="submit" value="Enlever" onclick="SupprimerProduit('{{ProductID}}')" /></div>
    </div>
    
</script>



<script type="text/javascript">

    templateCategories  = null;
    templateProducts    = null;
    templateCart        = null;

    
    $(function () {
        templateCategories  = Handlebars.compile($("#CategoriesTemplate").html());
        templateProducts    = Handlebars.compile($("#ProductsTemplate").html());
        templateCart        = Handlebars.compile($("#CartTemplate").html());
        console.log("Hello 1");

        $.getJSON("/Epicerie/GetCategories", null, function (data) {//console.log(data.legth);
            var result = templateCategories(data);
            $("#CategoriesOutput").html(result);
            console.log("hello 2");

            //Afficher les catégories
            $("#CategoryOutput").change(function () {
                var id = $(this).children(":selected").attr("id");
                console.log(id);
                $.getJSON("/Epicerie/GetProduits", { cat: id }, function (data) {
                    console.log(data.length + " produits dans la cat " + id);
                    var result = templateProducts(data);
                    $("#ProductsOutput").html(result);
                    console.log("Hello 4");
                    
                    
                });//GetProducts
            })//GetCategories                               
        });
    });


    function AjouterPanier(id) {
        var produit;
        
        console.log(id);
        var nom = $("#Name" + id).html();
        var format = $("#Format" + id).html();
        var prix = $("#Price" + id).html();
        var qty = $("#Quantity" + id).val();
        console.log("hello 5 " + "," + nom + "," + format + "," + prix + "," + qty);

        produit = {
            id:     id,
            nom:    nom,
            format: format,
            prix:   prix,
            qty: qty
        };

        var total = total + produit.id;
        var result = templateCart(produit);
        
        $("#CartOutput").append(result);
        //$("#AddProduct'{{ProductID}}'").hide;
    }
</script>
}
<div class="container">
    <div class="row">
        <div id="Message"></div>
    </div>
    <div class="row">
        <div id="CategoriesOutput" class="col-md-4">Cat/gories</div>
 
        <div id="ProductsOutput" class="col-md-5"></div>
    </div>
    <hr />
    <div class="row">
        <div id="CartOutput" class="col-md-5" ></div>
    </div>   


<div style="height:200px; float:left;"></div>

</div>




   