@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
<script type="text/x-handlebars-template" id="CategoriesTemplate" >
        Catégories<select id="CategoryOutput" name="Categories" class="form-control">
            {{#each}}
                <option id={{CategoryID}}>{{CategoryName}}</option>
            {{/each}}
        </select>
</script>

<script type="text/x-handlebars-template" id="ProductsTemplate" >
    <div>
        <div id=Product{{ProductID}} class="row" style="width:100px; height:18px; float:left">
            <h4>Produits</h4>
            {{#each}}
                <div class="col-md-4"></div><h6 style="height:18px;" id=Name{{ProductID}} >{{ProductName}} {{Price}}$</h6></div>
                <div class="col-md-7"><input id=Quantity{{ProductID}} type="text" value="0" /></h6></div>
                <div class="col-md-11"><input id=Addcart{{ProductID}} type="submit" value="OK" onclick="AjouterPanier('{{ProductID}}')" /></div>
            {{/each}}
        </div>
    </div>        
</script>

<script type="text/x-handlebars-template" id="CartTemplate" >
        <div><h1>Panier</h1>
        <div id="Panier{{ProductID}}" style="width:100px; float:left">
        <h4>Produits</h4>
            {{#each}}
                <h6 id=Cartproduct{{ProductID}} >{{ProductName}} {{Qty}} {{Price}}$ </h6>
                <h6 id=Cartupdate{{ProductID}} ><input type="submit" value="Modifier"</h6>
                <h6 id=Cartdelete{{ProductID}} ><input id=cartdelete{{ProductID}} type="submit" value="Retirer"</h6>
            {{/each}}
        </div>      
    </div>  
</script>

<script type="text/javascript">

    templateCategories = null;
    templateProducts = null;
    templateCart = null;

    //Valide le droit de l'usager avec ses nom et GUID
    $(function () {
        var membreId = 0;
        var membreName = "";

        templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
        templateProducts = Handlebars.compile($("#ProductsTemplate").html());
        templateCart = Handlebars.compile($("#CartTemplate").html());
        console.log("Hello 1");

        $.getJSON("/Epicerie/GetCategories", null, function (data) {//console.log(data.legth);
            var result = templateCategories(data);
            $("#CategoriesOutput").html(result);
            console.log("hello 2");

            //Afficher les catégories
            $("#CategoryOutput").change(function () {
                var id = $(this).children(":selected").attr("id");
                console.log(id);
                $.getJSON("/Epicerie/GetProduits", { cat: id }, function (data) {
                    console.log(data.length + " produits dans la cat " + id);
                    var result = templateProducts(data);
                    $("#ProductsOutput").html(result);
                    console.log("Hello 4");
                    
                    $("#Addcart('{{ProductID}}')".on("click")
                        (function AjouterPanier(id){
                            var qty = $("#Quantity" + id).val();
                            $("#CartOutput").html(result);
                            console.log("hello 5" + " " + qty);
                    }));//AddCart
             });//GetProducts
        })//GetCategories                               
    });
});
</script>
}
<div class="container">
    <div class="row">
        <div id="Message"></div>
    </div>
    <div class="row">
        <div id="CategoriesOutput" class="col-md-4">Cat/gories</div>
 
        <div id="ProductsOutput" class="col-md-5"></div>
    </div>
    <hr />
    <div class="row">
        <div id="CartOutput" class="col-md-5" ></div>
    </div>   


<div style="height:200px; float:left;"></div>

</div>




   