@{
    ViewBag.Title = "Home Page";
}
<h2>Je suis dans le groupe d'achats</h2>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
<link   rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
 
<script type="text/x-handlebars-template" id="CategoriesTemplate" >
        Catégories<select id="ProductsOutput" name="Categories" class="form-control">
            {{#each}}
                <option id={{CategoryId}}>{{CategoryName}}</option>
            {{/each}}
        </select>
</script>

<script type="text/x-handlebars-template" id="ProductsTemplate" >
        Produits<select class="form-control">
            {{#each}}
                <option id={{ProductId}}>{{ProductName}}</option>
            {{/each}}
        </select>
</script>
<script type="text/javascript">

    templateCategories = null;
    templateProducts = null;

    //Valide le droit de l'usager avec ses nom et GUID
    $(function () {
        var membreId = 0;
        var membreName = "";
    });

    //Incrémente la quantité du produit par 1 jusqu'à 100 max
    $(function (AddQty) {
        if (($("#AddQty").text) > 0 && ($("#AddQty").text) < 101) {
            var qty = ($("#Quantity").text) += 1;
        }
    });

    //Décrémente la quantité du produit de 1 jusqu'à 1 min
    $(function (RemoveQty) {
        if (($("#RemoveQty").text) > 1) {
            var qty = ($("#Quantity").text) -= 1;
        }
    });

    $(function () {
        templateCategories = Handlebars.compile($("#CategoriesTemplate").html());
        templateProducts = Handlebars.compile($("#ProductsTemplate").html());
        console.log("Hello 1");

        $.getJSON("/Epicerie/GetCategories", null, function (data) {//console.log(data.legth);
            var result = templateCategories(data);

            $("#CategoriesOutput").html(result);
            console.log("hello 2");

            //Afficher les catégories
            $("#CategoriesOutput").click(function () {
                console.log("hello 3");
                var id = this.id;
                console.log(this.id);
                $.getJSON("GetProduits", { CategoryID: id }, function (data) {
                    console.log(data.length + "produits dans la cat " + id);
                    var result = templateProducts(data);
                    $("#ProductsOutput").html(result);
                    console.log("Hello 4");
                    
                    })//GetCategories                  
                });
            })//getJASON                               
        });//vide
</script>

@*<div>
    <input id="Membre" type="text"  />
</div>*@

<div id="CategoriesOutput">
    



<hr />
 <div id="ProductsOutput">
    <input id="Add"             type="button"   value="+" OnClick="AddQty"  />
    <input id="Quantity"        type-text       text="1" />
</div>

<hr />
@*<div>
   
    <div>
        <input id="PanierOutput"    type-text       border="red" />
        <input id="Add"             type="button"   value="+"       OnClick="AddQty" />
        <input id="Remove"          type="button"   value="-"       OnClick="RemoveQty" />
        <input id="Delete"          type="button"   value="Retirer" OnClick="Delete" />
        <input id="Quantity"        type-text       text="" />
    </div>
    <hr />
</div>*@