@model IdentitySample.Models.test1234
@using System.Globalization

@section Scripts
{

            

@*Template des Catégories*@
<script type="text/x-handlebars-template" id="BillsTemplate">
    <select id="BillOutput" name="Categories" class="form-control">
        <option selected="selected" id=0 value="0">Choisissez une Facture</option>
        {{#each}}
        <option id={{WeekIdID}}>{{WeekId}}</option>
        {{/each}}
    </select>
</script>
@*Template des produits*@
<script type="text/x-handlebars-template" id="EnteteTemplate">
    <div class="row">
        <h4 class="col-xs-4">Usager</h4>
        <h4 class="col-xs-3">No Commande</h4>
    </div>
    {{#each}}
    <div class="row" id=Order{{OrderID}}>
        <div class="col-xs-4">
            <h5 id="Name{{OrderID}}">{{Usager}}</h5>
        </div>
        <div class="col-xs-3">
            <h5 id="Format{{OrderID}}">{{OrderID}}</h5>
        </div>
    </div>
    {{/each}}
</script>
<script type="text/javascript">
    $(function () {
        templateBills = Handlebars.compile($("#BillsTemplate").html());
        templateEntete = Handlebars.compile($("#EnteteTemplate").html());


        $.getJSON("/Epicerie/GetBill", null, function (data) {
            var result = templateBills(data);
            $("#BillsOutput").html(result);

            $("#CategoryOutput").change(function () {
                var id = $(this).children(":selected").attr("id");
                if (id != 0) {
                    $.getJSON("/Epicerie/Afficher_Entete_Facture", null, function (data) {
                        var result = templateEntete(data);
                        $("#EntetesOutput").html(result);
                    });
                }
            })
        });
    });
    
           
</script>
    


}
<div id="BillsOutput"></div>

<div id="EntetesOutput"></div>

