@using System.Globalization

@model IdentitySample.Models.newslistViewModel

@{
    ViewBag.Title = "Liste des nouvelles";
}

<h2>@ViewBag.Title</h2>

<table class="table alert alert-warning">
    <tr>
        <th>ID</th>
        <th>
            Titre
        </th>
        <th>
            Date
        </th>
    </tr>
    @foreach (var i in ViewBag.listNo)
    {
        <tr>
            <td>
                @i.id
            </td>
            <td>
                <a href="/Nouvelles/Details?title=@i.titre.Replace(' ', '_')">@i.titre</a>
            </td>
            <td>
                @i.date.ToString("dd/MMMM/yyyy", CultureInfo.CreateSpecificCulture("fr-CA"))
            </td>
        </tr>
    }

</table>
