
@{
    ViewBag.Title = "Editeur des Pages";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>Editeur des pages</h2>
<p>Selectionne une page dans la liste derulante pour le voir et modifier, ou click sur le bouton 
    Nouvelle page</p>
<br />

<div class="row">
    <div class="alert alert-warning" role="alert">
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Selectionner une page
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Apropos</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Impliquez-Vous</a></li>
                </ul>
            </div>
        </div>
        <div class="btn btn-info col-md-2">Modifier</div>
        <div class="col-md-1"></div>
        <div class="btn btn-danger col-md-2">Suprimer</div>
        <div class="btn btn-success col-md-offset-2">Nouvelle Pages</div>

    </div>
</div>




<form method="post">

    <div class="row">
        <div class="input-group">
            <div class="input-group-addon">Titre du page : </div>
            <input class="form-control" type="text" placeholder="Seulment le premier mot aparaitre dans le menu">
        </div>
    </div>
    <br />
    <div class="row">
        <strong>Selectione la position du page dans le menu</strong>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Dans le menu principal ou
            </label>
            <select>
                <option>Comme sous menu de : </option>
                <option>Accueil               </option>
                <option>Contactez-nous        </option>
                <option>Impliquez-vous        </option>
            </select>
        </div>




    </div>
    <br />

    <div class="row">
        <textarea id="elm1" name="area" class="col-md-12 col-xs-12"></textarea>
    </div>
    <br />
    <div class="row alert alert-info">
        <div class="checkbox col-md-3">
            <label>
                <input type="checkbox"> Metre la page public ou
            </label>
        </div>

        <div class="btn btn-danger col-md-offset-5 col-md-3">Enregistrer sans publier</div>

    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="../Content/plugins/tinymce/tinymce.min.js"></script>
    <script>
        tfm_path = '/tinyfilemanager.net';
        
        tinymce.init({
            selector: "textarea#elm1",
            theme: "modern",
            height: 400,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor"
            ],
            toolbar1: "print preview fullpage | undo redo paste | styleselect | bold italic underline | responsivefilemanager |" +
            " alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link unlink " +
            "anchor image media | forecolor backcolor emoticons charmap hr pagebreak searchreplace visualblocks visualchars"+
            " code | insertdatetime nonbreaking table ",
            style_formats: [
                 { title: 'Bold text', inline: 'b' },
                 { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                 { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                 { title: 'Example 1', inline: 'span', classes: 'example1' },
                 { title: 'Example 2', inline: 'span', classes: 'example2' },
                 { title: 'Table styles' },
                 { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            ]
        });
    </script>

@*<script type="text/javascript">
    $(document).ready(function () {
        //build dropdown
        $("<select />").appendTo(".sidebar-collapse");

        // Create default option "Go to..."
        $("<option />", {
            "selected": "selected",
            "value": "",
            "text": "Please choose page"
        }).appendTo(".sidebar-collapse select");

        // Populate dropdowns with the first menu items
        $(".sidebar-collapse li a").each(function () {
            var el = $(this);
            $("<option />", {
                "value": el.attr("href"),
                "text": el.text()
            }).appendTo(".sidebar-collapse select");
        });

        //make responsive dropdown menu actually work
        $(".sidebar-collapse select").change(function () {
            window.location = $(this).find("option:selected").val();
        });

    });


</script>*@
}