
@{
    ViewBag.Title = "Gestion des images";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <img src="~/Images/FileManager.png" />
</div>

