@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Effacer un role";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Vous-etez sure de effacer ce role?</h3>
<h4> cete action est irrecouperable!</h4>

<p>
    Avant d'effacer les roles est necessaire retirer toud les membres de cete role,
    il n'est pas necesssaire effacer les membres

</p>
<div>
    <div class="row">
        <a href='@Url.Action("Index", "RolesAdmin")' class="btn btn-success col-md-1">
            <i class="fa fa-arrow-circle-left"></i> Liste
        </a>
    </div>
    <h4>Fiche de role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger col-md-offset-2" />
        </div>
    }
</div>
